<html layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<div layout:fragment="content" class="container my-3">
    <table class="table">
        <thead class="table-dark">
            <tr>
                <th>번호</th>
                <th>방 번호</th>
                <th>상태</th>
                <th>예약하기</th>
                <th>종료 예정 시간</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="room, loop : ${roomList}">
                <td>
                    <a th:href="@{|/reserve/detail/${room.id}|}" th:text="${room.room_name}"></a>
                </td>
                <td th:text="${loop.count}"></td>

                <td th:text="${room.room_name}"></td>
                <td th:text="${room.getCondition()}"></td>
                <input type="submit" value="예약" class="btn btn-primary my-2">
                <td th:text="${#temporals.format(room.end_time, 'HH:mm')}"></td>
            </tr>
        </tbody>
    </table>
    <a th:href="@{/reserve/create}" class="btn btn-primary">방 생성하기</a>
</div>
</html>
